
body{
    font-family: 'Charm', cursive;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,3690f0+29,2766aa+59,1e69de+81 */
    background: #6db3f2; /* Old browsers */
    background: -moz-linear-gradient(45deg, #6db3f2 0%, #3690f0 29%, #2766aa 59%, #1e69de 81%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #6db3f2 0%,#3690f0 29%,#2766aa 59%,#1e69de 81%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #6db3f2 0%,#3690f0 29%,#2766aa 59%,#1e69de 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-attachment: fixed;
}
.main {
    display: flex;
    justify-content: spa;
    
}
p{
    color: beige;
    font-size: 1.5em
}
h1{
    font-size: 2.5em;
    color: beige;
}
img{
    order:;
    align-self: ;
    width: auto;
    height: 25em;
}
.background {
    width: 40em;
    margin: 0 auto;
  }